form {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  font-size: 40px;
  position: relative;
}

input {
  font-size: 30px;
  border: none;
  border-bottom: 1px solid black;
  width: 20%;
  text-align: center;
}

input:focus {
  outline: none;
}

.stats {
  position: relative;
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 24px;
}
